---
import ContactSection from "../components/ContactSection.astro";
import CositasSection from "../components/CositasSection.astro";
import HeroSection from "../components/HeroSection.astro";
import IdealesSection from "../components/IdealesSection.astro";
import ReelSection from "../components/ReelSection.astro";
import TeamSection from "../components/TeamSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Núcleo">
  <main class="flex flex-col">
    <HeroSection />
    <IdealesSection />
    <ReelSection />
    <CositasSection />
    <TeamSection />
    <ContactSection />
  </main>
</Layout>

<style></style>
