---
import { Image } from "astro:assets";
import telefono from "../assets/telefono.png";
---

<section
  id="hablemos"
  class="relative min-h-screen w-full bg-lima px-10 py-16 lg:px-20"
>
  <div class="flex flex-col items-start justify-start">
    <h3
      class="text-fuxia text-4xl md:text-8xl lg:text-9xl xl:text-[15rem] 2xl:text-[17rem]"
    >
      hablemos
    </h3>
    <div class="pb-12">
      <p class="text-md text-naranja md:text-2xl xl:text-6xl">escribinos a</p>
      <p class="text-md text-fuxia md:text-2xl xl:text-6xl">
        agencia.nucleo23@gmail.com
      </p>
    </div>

    <div class="pb-12">
      <p class="text-md text-rosa md:text-2xl xl:text-6xl">
        peganos un call al
      </p>
      <p class="text-md text-rojo md:text-2xl xl:text-6xl">11 3833 0934</p>
    </div>

    <div>
      <p class="text-md font-bold text-violeta md:text-2xl xl:text-6xl">
        chusmea en
      </p>
      <p class="text-md text-azul md:text-2xl xl:text-6xl">@nucleoo.agencia</p>
    </div>
  </div>
  <Image
    src={telefono}
    alt="manifiesto nucleo"
    width={780}
    class="absolute bottom-0 right-0"
    loading={"eager"}
  />
</section>
