<section
  id="cositas"
  class="min-h-screen w-full overflow-x-hidden overflow-y-hidden"
>
  <div class="bg-rosa">
    <a href="/cositas/motion">
      <div class="horizontal-scrolling-items-right">
        <div class="back">
          <div class="horizontal-scrolling-items__item-image motion-image__1">
          </div>
          <div class="horizontal-scrolling-items__item-image motion-image__2">
          </div>
          <div class="horizontal-scrolling-items__item-image motion-image__3">
          </div>
          <div class="horizontal-scrolling-items__item-image motion-image__4">
          </div>
          <div class="horizontal-scrolling-items__item-image motion-image__5">
          </div>
          <div class="horizontal-scrolling-items__item-image motion-image__6">
          </div>
        </div>
        <div class="front">
          <div
            class="horizontal-scrolling-items__item leading-none text-amarillo"
          >
            motions motions motions motions motions motions motions &nbsp
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="bg-amarillo">
    <a href="/cositas/3d">
      <div class="horizontal-scrolling-items">
        <div class="front">
          <div class="horizontal-scrolling-items__item leading-none text-rosa">
            3d 3d 3d 3d 3d 3d 3d 3d 3d 3d 3d 3d &nbsp
          </div>
        </div>
        <div class="back">
          <div class="horizontal-scrolling-items__item-image d-image__1"></div>
          <div class="horizontal-scrolling-items__item-image d-image__2"></div>
          <div class="horizontal-scrolling-items__item-image d-image__3"></div>
          <div class="horizontal-scrolling-items__item-image d-image__4"></div>
          <div class="horizontal-scrolling-items__item-image d-image__5"></div>
          <div class="horizontal-scrolling-items__item-image d-image__6"></div>
          <!-- <div class="horizontal-scrolling-items__item leading-none">3d</div> -->
        </div>
      </div>
    </a>
  </div>

  <div class="bg-rosa">
    <a href="/cositas/ilustracion">
      <div class="horizontal-scrolling-items-right">
        <div class="back">
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__1"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__2"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__3"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__4"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__5"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__6"
          >
          </div>
          <div
            class="horizontal-scrolling-items__item-image ilustracion-image__7"
          >
          </div>
        </div>
        <div class="front">
          <div
            class="horizontal-scrolling-items__item leading-none text-amarillo"
          >
            ilustración ilustración ilustración ilustración ilustración
            ilustración &nbsp
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="bg-amarillo">
    <a href="/cositas/web">
      <div class="horizontal-scrolling-items">
        <div class="front">
          <div class="horizontal-scrolling-items__item leading-none text-rosa">
            web web web web web web web web web web web web &nbsp
          </div>
        </div>
        <div class="back">
          <div class="horizontal-scrolling-items__item-image web-image__1">
          </div>
          <div class="horizontal-scrolling-items__item-image web-image__2">
          </div>
          <div class="horizontal-scrolling-items__item-image web-image__3">
          </div>
          <div class="horizontal-scrolling-items__item leading-none text-rosa">
            web
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="bg-rosa">
    <a href="/cositas/avon">
      <div class="horizontal-scrolling-items-right">
        <div class="front">
          <div
            class="horizontal-scrolling-items__item leading-none text-amarillo"
          >
            avon avon avon avon avon avon avon avon avon avon &nbsp
          </div>
        </div>
        <div class="back">
          <div class="horizontal-scrolling-items__item-image avon-image__1">
          </div>
          <div class="horizontal-scrolling-items__item-image avon-image__2">
          </div>
          <div class="horizontal-scrolling-items__item-image avon-image__3">
          </div>
          <div
            class="horizontal-scrolling-items__item leading-none text-amarillo"
          >
            avon
          </div>
        </div>
      </div>
    </a>
  </div>

  <style>
    .horizontal-scrolling-items__item {
      white-space: nowrap;
      text-align: left;
    }

    .horizontal-scrolling-items__item-image {
      margin-left: 50px;
      margin-right: 50px;
      height: 80%;
      width: 360px;
      background-size: cover;
      background-position: center;
    }

    .horizontal-scrolling-items {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 15rem;
      font-weight: bold;
      height: 240px;
      width: 2600px;
      animation-name: infiniteScroll;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .horizontal-scrolling-items-right {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 15rem;
      font-weight: bold;
      height: 240px;
      width: 2600px;
      animation-name: infiniteScrollRight;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /* position: relative; */
    }

    .back,
    .front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s opacity ease-out;
    }

    .back {
      display: flex;
      align-items: center;
      z-index: 1;
      opacity: 0;
    }

    .front {
      z-index: 2;
    }

    .horizontal-scrolling-items-right:hover .back {
      opacity: 1;
    }
    .horizontal-scrolling-items-right:hover .front {
      opacity: 0;
    }

    .horizontal-scrolling-items:hover .back {
      opacity: 1;
    }
    .horizontal-scrolling-items:hover .front {
      opacity: 0;
    }

    .motion-image__1 {
      background-image: url(/images/motion/bimo.png);
    }
    .motion-image__2 {
      background-image: url(/images/motion/club.png);
    }
    .motion-image__3 {
      background-image: url(/images/motion/nike.png);
    }
    .motion-image__4 {
      background-image: url(/images/motion/tuenti.png);
    }
    .motion-image__5 {
      background-image: url(/images/motion/bimo.png);
    }
    .motion-image__6 {
      background-image: url(/images/motion/club.png);
    }

    .d-image__1 {
      background-image: url(/images/3d/arcade.png);
    }
    .d-image__2 {
      background-image: url(/images/3d/camara.png);
    }
    .d-image__3 {
      background-image: url(/images/3d/piano.png);
    }
    .d-image__4 {
      background-image: url(/images/3d/telescopio.png);
    }
    .d-image__5 {
      background-image: url(/images/3d/videocamara.png);
    }
    .d-image__6 {
      background-image: url(/images/3d/walle.png);
    }

    .ilustracion-image__1 {
      background-image: url(/images/ilustracion/90s.png);
    }
    .ilustracion-image__2 {
      background-image: url(/images/ilustracion/bighero.png);
    }
    .ilustracion-image__3 {
      background-image: url(/images/ilustracion/branding.png);
    }
    .ilustracion-image__4 {
      background-image: url(/images/ilustracion/challanger.png);
    }
    .ilustracion-image__5 {
      background-image: url(/images/ilustracion/national.png);
    }
    .ilustracion-image__6 {
      background-image: url(/images/ilustracion/nike.png);
    }
    .ilustracion-image__7 {
      background-image: url(/images/ilustracion/ronpe.png);
    }

    .web-image__1 {
      background-image: url(/images/web/ecomerce.png);
    }

    .web-image__2 {
      background-image: url(/images/web/havanna.png);
    }

    .web-image__3 {
      background-image: url(/images/web/altermundi.png);
    }

    .avon-image__1 {
      background-image: url(/images/avon/avon1.webp);
    }
    .avon-image__2 {
      background-image: url(/images/avon/avon2.webp);
    }
    .avon-image__3 {
      background-image: url(/images/avon/avon3.webp);
    }

    @keyframes infiniteScroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }

    @keyframes infiniteScrollRight {
      from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0);
      }
    }
  </style>
</section>
