---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<header
  id="page-header"
  class="absolute top-0 z-20 flex w-full items-center justify-between border-b border-transparent px-6 py-4 md:px-10 lg:px-14"
>
  <a class="hover:!text-default flex items-center gap-3" href="/">
    <h1 class="sr-only">Nucleo</h1>
    <Image
      src={logo}
      class="h-auto"
      alt="nucleo logo"
      width={300}
      decoding="async"
      loading="lazy"
    />
  </a>
  <div>
    <div class="flex items-center gap-6">
      <nav class="hidden sm:block">
        <ul class="flex items-center gap-6">
          <li>
            <a class="text-rojo text-xl font-bold lg:text-4xl" href="/#cositas">
              cositas
            </a>
          </li>
          <li>
            <a
              class="text-xl font-bold text-azul lg:text-4xl"
              href="/#dream-team"
            >
              dream team
            </a>
          </li>
          <li>
            <a
              class="text-xl font-bold text-rosa lg:text-4xl"
              href="/#hablemos"
            >
              hablemos
            </a>
          </li>
        </ul>
      </nav>
      <button
        id="open-nav-button"
        type="button"
        class="btn text-secondary sm:hidden"
        aria-label="Navigation"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <div id="menu-modal" class="modal hidden" aria-hidden="true">
        <div class="text-secondary fixed inset-0 bg-cyan px-8 py-4">
          <div class="space-y-4" role="dialog" aria-modal="true">
            <header class="text-right">
              <button
                id="close-nav-button"
                type="button"
                class="btn"
                aria-label="Close navigation"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-8 w-8"
                >
                  <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
                  ></path>
                </svg>
              </button>
            </header>
            <div class="flex justify-center">
              <Image
                src={logo}
                class="h-auto"
                alt="nucleo logo"
                width={128}
                height={128}
              />
            </div>
            <nav>
              <ul class="flex flex-col">
                <li>
                  <a
                    class="text-rojo block py-4 text-center text-xl"
                    href="#cositas"
                  >
                    cositas
                  </a>
                </li>
                <li>
                  <a
                    class="block py-4 text-center text-xl text-azul"
                    href="#dream-team"
                  >
                    dream team
                  </a>
                </li>
                <li>
                  <a
                    class="block py-4 text-center text-xl text-rosa"
                    href="#hablemos"
                  >
                    hablemos
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import MicroModal from "micromodal";

    const menuModalId = "menu-modal";

    const header = document.querySelector("#page-header") as HTMLElement;
    const page = document.documentElement;
    const menu = document.querySelector(`#${menuModalId} ul`);
    const openNavButton = document.querySelector("#open-nav-button");
    const closeNavButton = document.querySelector("#close-nav-button");

    const openMenu = () => {
      MicroModal.show(menuModalId, { disableScroll: true });
    };

    const closeMenu = () => {
      MicroModal.close(menuModalId);
    };

    openNavButton?.addEventListener("click", openMenu);
    closeNavButton?.addEventListener("click", closeMenu);

    // document.addEventListener("scroll", () => {
    //   const d = page.clientHeight - page.scrollTop - header.offsetHeight;
    //   header.classList.toggle("fixed-header", d < 0);
    // });

    menu?.addEventListener("click", (event) => {
      if ((event.target as HTMLElement).tagName === "A") {
        closeMenu();
      }
    });
  </script>

  <noscript>
    <style>
      #open-nav-button {
        display: none;
      }
    </style>
  </noscript>

  <style>
    .fixed-header {
      /* @apply fixed bottom-auto top-0; */
      /* @apply border-secondary bg-blackish/80 text-secondary; */
    }
    .modal.is-open {
      @apply block;
    }
  </style>
</header>
