---

---

<section class="flex min-h-screen flex-col justify-center gap-y-10 bg-rosa">
  <p
    class="px-6 text-4xl text-lima md:text-8xl lg:text-9xl xl:text-[15rem] 2xl:text-[17rem]"
  >
    conectar
  </p>
  <p
    class="px-6 text-4xl text-lima md:text-8xl lg:text-9xl xl:text-[15rem] 2xl:text-[17rem]"
  >
    preguntar
  </p>
  <p
    class="px-6 text-4xl text-lima md:text-8xl lg:text-9xl xl:text-[15rem] 2xl:text-[17rem]"
  >
    crear
  </p>
</section>
