---
import { Image } from "astro:assets";
import dummy from "../assets/dummy.png";
import dummy2 from "../assets/dummy2.png";
---

<section
  class="flex min-h-screen flex-col items-center justify-center bg-violeta"
>
  <h2
    class="self-start justify-self-start pl-6 text-7xl text-lima md:text-8xl lg:text-9xl xl:text-[17rem]"
  >
    reel
  </h2>
  <div class="relative w-1/2 p-10">
    <Image
      src={dummy}
      class="h-auto drop-shadow-sm"
      alt="manifiesto nucleo"
      width={800}
      loading={"eager"}
    />
    <Image
      src={dummy2}
      class="absolute -right-4 -top-4 h-48 w-48 bg-slate-500"
      alt="manifiesto nucleo"
      loading={"eager"}
    />
    <Image
      src={dummy2}
      class="absolute -bottom-4 -left-4 h-48 w-48 bg-slate-500"
      alt="manifiesto nucleo"
      loading={"eager"}
    />
  </div>
</section>
