---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  nombre: string;
  especialidad: string;
}

const { image, nombre, especialidad } = Astro.props;
---

<div class="flex flex-col items-center justify-center md:basis-1/4">
  <Image src={image} class="h-auto" alt="manifiesto nucleo" loading={"eager"} />
  <p class="text-7xl">{nombre}</p>
  <p class="text-4xl">{especialidad}</p>
</div>
